<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240631429479-u2b358i71avrqiasos72k78al5bui0mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240631429479-u2b358i71avrqiasos72k78al5bui0mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBlY0WNaM84HtQC2dTgs-TSnjfskeKyvLE</string>
	<key>GCM_SENDER_ID</key>
	<string>240631429479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nitin.BurgerBurner</string>
	<key>PROJECT_ID</key>
	<string>ios-project---burgerburner</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project---burgerburner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240631429479:ios:83613bdada327010df97c2</string>
</dict>
</plist>